@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  @apply bg-slate-900 text-white overflow-hidden touch-none select-none;
  /* Prevent scrolling on mobile */
  overscroll-behavior: none;
}

#root {
  @apply h-screen w-screen flex flex-col items-center justify-center;
}
